.tweet{
    position: relative;
    width:100%; height:100%;
    display: inline-block;
    margin:1em; padding:2em;
    border: 1px solid gray;
}

.content{
    position: absolute;
    display: inline-block;
    top: 2em;
    padding-left: .5em; 
}

.buttons>i{
    margin-top:2em;
    margin-left:1em;
}